springboot-main/src/main/resources/META-INF/customdefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="com.example.springbootmain.beanStudy.bean.CustomerUser"
        targetNamespace="com.example.springbootmain.beanStudy.bean.CustomerUser">

    <import namespace="http://www.springframework.org/schema/beans"/>

    <element name="user">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="email" type="string"/>
        </complexType>
    </element>

</schema>